---
import Layout from "../layouts/Layout.astro";
import metaData from "../../metadata.json";
import TopicLinkComponent from "../components/TopicLinkComponent.astro";
---

<Layout
    page="topics"
    title="Topics of UPSC Physics Optional"
    description="Topic wise UPSC Physics Optional Question Bank"
    keywords={["Topics"]}
>
    <h1 class="text-center text-4xl m-4">UPSC Physics Optional Topics</h1>
    <div class="m-2">
        <header>
            <p class="text-2xl ms-3 mt-5">Paper 1 Topics</p>
        </header>
        <div class="relative rounded-xl overflow-auto">
            <div class="shadow-sm overflow-hidden my-8">
                <table class="table-fixed text-sm">
                    <thead>
                        <tr>
                            <th
                                class="border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left"
                                >Topic</th
                            >
                            <th
                                class="border-b dark:border-slate-600 font-medium p-4 pr-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left"
                                >Sub-topics</th
                            >
                        </tr>
                    </thead>
                    <tbody class="bg-white dark:bg-slate-800">
                        {
                            metaData["paper-1"].reverse().map((topic, i) => (
                                <tr>
                                    <TopicLinkComponent
                                        name={topic.topicName}
                                        subtopics={topic.subtopics.length}
                                    />
                                    <td class="border-b border-slate-100 dark:border-slate-700 p-4 pr-8 text-slate-500 dark:text-slate-400">
                                        {topic.subtopics.length}
                                    </td>
                                </tr>
                            ))
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="m-2">
        <p class="text-2xl ms-3 mt-5">Paper 2 Topics</p>
        <div class="relative rounded-xl overflow-auto">
            <div class="shadow-sm overflow-hidden my-8">
                <table class="table-fixed text-sm">
                    <thead>
                        <tr>
                            <th
                                class="border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left"
                                >Topic</th
                            >
                            <th
                                class="border-b dark:border-slate-600 font-medium p-4 pr-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left"
                                >Sub-topics</th
                            >
                        </tr>
                    </thead>
                    <tbody class="bg-white dark:bg-slate-800">
                        {
                            metaData["paper-2"].reverse().map((topic, i) => (
                                <tr>
                                    <TopicLinkComponent
                                        name={topic.topicName}
                                        subtopics={topic.subtopics.length}
                                    />
                                    <td class="border-b border-slate-100 dark:border-slate-700 p-4 pr-8 text-slate-500 dark:text-slate-400">
                                        {topic.subtopics.length}
                                    </td>
                                </tr>
                            ))
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</Layout>
